@media (max-width: 768px) {
    /* This is for tablets and mobile devices */
    
    nav {
      width: 100%;
      gap: 30px;
    }
  
    nav .nav-items {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .hero h2 {
      font-size: 40px;
      line-height: 50px;
    }
  
    .hero p {
      width: 90%;
    }
  
    .image-shot {
      padding: 0 2rem;
      display: flex;

    }
  
    .image-shot .image-wrapper {
        display: flex;
      align-items: center;
      gap: 20px;
    }
    .image-shot .image-wrapper .card{
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
    .card-holder .card-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .card-holder .card-wrapper .card {
      width: 90%;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  
    .core-value .core-value-wrapper {
      flex-direction: column;
    }
  
    .event-about .event-wrapper,
    .contact .contact-wrapper {
      width: 90%;
    }
  
    .event-about .event-wrapper .event-text2,
    .contact .contact-wrapper .contact-text2 {
      width: 100%;
      flex-direction: column;
    }
  
    .core-value .core-value-wrapper .card {
      max-width: 90%;
    }
  
    header {
      height: auto;
      flex-direction: column;
      padding: 10px 0;
    }
  }
  